{% extends 'base.html' %}

{% block page_content %}
    <body style="background-color:#20c997;"></body>
    <h1 class='text-center'>
        {% if car %}
            Advertisement Details
        {% else %}
            No car photos yet
        {% endif %}
    </h1>
    <a href="{% url 'all cars' %}" class="btn btn-primary">All Cars</a>
    <a href="{% url 'logout user' %}" class="btn btn-primary">Logout</a>

        <a href="{% url 'profile details' request.user.id %}" class="btn btn-primary">Your Profile</a>
        <h1 class='text=end'>Owner phone number: {{ object.user.userprofile.phone }}</h1>
        <h1 class='text=end'>Region : {{ object.user.userprofile.region }}</h1>
    {% if car %}
        <div class="container mb-5">
            <div class="row mb-5">

                    <div class="card ml-3 mb-3" style="width: 15rem;">
                        <!-- Image -->
                        <img src="{{ car.photo1 }}"
                             class="card-img-top" alt="Photo description">
                        <div class="card-body">

                            <h5 class="card-title">{{ car.brand }}  {{ car.model }}</h5>
                            <p class="card-text">First registration : {{ car.first_reg_date }}</p>
                            <p class="card-text">Transmission : {{ car.transmission }}</p>
                            <p class="card-text">Fuel : {{ car.fuel }}</p>
                            <p class="card-text">{{ car.km }} KM</p>
                            <p class="card-text">Price : {{ car.price }} Euro</p>
                            {% if is_owner %}
                            <div class="navbar">
                                <a href="{% url 'edit car' car.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{% url 'delete car' car.id %}" class="btn btn-secondary btn-sm">Delete</a>
                                <a href="{% url 'photo create' %}" class="btn btn-secondary btn-sm">Add Photo</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    {% endif %}
{#        {% if photos %}#}
{#        {% for photo in photos %}#}
{#        <div class="container mb-5">#}
{#            <div class="row mb-5">#}
{##}
{#                    <div class="card ml-3 mb-3" style="width: 15rem;">#}
{##}
{#                        <img src="{{ photo.photo }}"#}
{#                             class="card-img-top" alt="Photo description">#}
{#                        <div class="card-body">#}
{##}
{#                            <h5 class="card-title">{{ photo.description }}</h5>#}
{#                            {% if is_owner %}#}
{#                            <div class="navbar">#}
{#                                <a href="{% url 'delete photo' photo.id %}" class="btn btn-secondary btn-sm">Delete</a>#}
{#                            </div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
{% endblock %}